.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.toggle {
  position: relative;
  width: 5rem; /* Die Breite des Toggles */
  height: 2.5rem; /* Die Höhe des Toggles */
  background-color: #d1d5db; /* Gray-300 */
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem; /* Durchmesser des Kreises */
  height: 2rem; /* Durchmesser des Kreises */
  background-color: #ffffff; /* Weiß */
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Sanfte Transition für Bewegung */
}

