@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Markdown Tabellen === */
.prose table {
  @apply w-full border border-gray-300 text-sm;
}

.prose thead {
  @apply bg-gray-100 dark:bg-gray-800;
}

.prose th,
.prose td {
  @apply border border-gray-300 dark:border-gray-700 px-4 py-2;
}

.prose tr:nth-child(even) {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* === Listen === */
.prose ul {
  @apply list-disc pl-6 text-base text-gray-800 dark:text-gray-200;
}

.prose ol {
  @apply list-decimal pl-6 text-base text-gray-800 dark:text-gray-200;
}

.prose li {
  @apply mb-1;
}
.prose li::marker {
  @apply text-gray-600 dark:text-gray-400;
}


.markdown-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1.5em auto;
}

.markdown-body .responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 1.5em 0;
}

.markdown-body .responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
